extends layout

block content
	h1 Hello Boulder!
	form
		| Select A Language: 
		input(type='text', name='language')
		button.btn-large(type = "button") Submit
	div#results
block	scripts
	script#result( type="text/x-handlebars-template")
		h2 Language: 
		span.title {{desc}}


