doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled

	body
		block content
		script(src= 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src = 'http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js')
		script(src = "../js/main.js")

		block scripts
		



		